.sideNav {
    height:100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: black;
    overflow-x: hidden;
    padding-top: 25%;
    transition: .5s;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sideNav a:hover {
    color: white;

}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}
.body {
    background-color: ghostwhite;
}

